.sectionFive .card-icon{margin-left: auto;margin-right: 0;}
footer .footer-logo img{margin-left: auto;margin-right: 0;}
header .fxHeader{direction: rtl;}
header .fxHeader .linksHeader{direction: ltr;}